.img {
  height: 3.5rem;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div {
  display: flex;
  gap: 1em;
}

.iconChef {
  width: 3.5em;
  height: 3.5em;
  background-color: var(--white);
}

.iconChef button {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 740px) {
  .container h1 {
    display: none;
  }
}

@media print {
  .iconChef {
    display: none;
  }
}
