<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reset password</title>
  </head>
  <body style="text-align: center; color: #707071;">
    <h1 style="color: #f9c132">What To Cook</h1>
    <hr style="border: 2px solid #f9c132; border-radius: 5px; width: 60%" />
    <p style="font-size: 20px">Hi {{name}},</p>
    <p style="font-size: 20px">You requested to reset your password.</p>
    <p style="font-size: 20px">
      Please, click the link below to reset your password</p>
    <a style="font-size: 20px" href="{{link}}">Reset Password</a>
  </body>
</html>