<html>
  <head>
    <meta charset="UTF-8" />
    <title>Password changed</title>
  </head>
  <body style="text-align: center; color: #707071;">
    <h1 style="color: #f9c132">What To Cook</h1>
    <hr style="border: 5px solid #f9c132; border-radius: 5px; width: 60%" />
    <p style="font-size: 20px">Hi {{name}},</p>
    <p style="font-size: 20px">Your password has been changed.</p>
  </body>
</html>