.scrollContainer {
  height: 100%;
  position: relative;
}

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(10em, 1fr));
  grid-auto-rows: 21em;
  justify-items: start;
  position: relative;
  padding: 0.5em;
}

.loadMoreButtonContainer {
  text-align: center;
  margin-top: 3em;
  position: relative;
  z-index: 4;
}

@media only screen and (max-width: 740px) {
  .recipesContainer {
    grid-template-columns: 1fr;
  }

  .buttonToTop {
    width: 2em;
    height: 2em;
  }
}
