.container {
  display: flex;
  gap: 2em;
  padding: 1em 0;
}

.sidebar {
  width: 40%;
}

.mainContent {
  width: 100%;
}

.buttonFilterWrapper {
  display: flex;
  gap: 1em;
}

.filtersWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.filtersWrapper button:first-of-type {
  align-self: flex-start;
}

.outerRecipes {
  height: 25em;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 5em;
}

.outerRecipes ul {
  padding-left: 0;
}

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(10em, 1fr));
  grid-auto-rows: 21em;
  justify-items: start;
  position: relative;
  padding: 0.5em;
}

.infoBoxesContainer {
  display: flex;
  gap: 1em;
  margin: 1.5em 0;
}

.infoBox {
  padding: 1em;
  border: 1px solid var(--yellow);
  border-radius: 8px;
  overflow: hidden;
  white-space: normal;
  max-width: calc(300px + 2em);
  color: var(--black);
}

.infoBox:hover {
  box-shadow: var(--shadow);
  background-color: var(--white);
}

@media only screen and (max-width: 740px) {
  .container {
    flex-direction: column;
  }

  .recipesContainer {
    grid-template-columns: 1fr;
  }

  .infoBoxesContainer {
    display: inline-flex;
    flex-direction: column;
  }

  .outerRecipes ul {
    font-size: 0.8em;
  }
}
