.container {
  display: flex;
  gap: 2em;
  padding: 1em 0;
}

.sidebar {
  width: 30%;
}

.mainContent {
  width: 70%;
}

.searchBarContainer {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}

.scrollContainer {
  height: 35%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-right: 0.5em;
}
