.container {
  display: flex;
  gap: 2em;
  padding: 1em 0;
}

.sidebar {
  width: 30%;
}

.mainContent {
  width: 70%;
}

.searchBarContainer {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}

.scrollContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(10em, 1fr));
  grid-auto-rows: 21em;
  justify-items: start;
  position: relative;
  padding: 0.5em;
}
