.footerContainer {
  text-align: center;
  margin-top: 3em;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

.iconContainer button {
  background-color: var(--yellow);
  margin: 1em;
  border-radius: 50%;
  border: 8px solid var(--yellow);
}

@media only screen and (max-width: 740px) {
  .iconContainer button {
    height: 60px;
    width: 60px;
    margin: 0.3em;
  }
}

@media print {
  .footerContainer {
    display: none;
  }
}
