.footerContainer {
  text-align: center;
  margin-top: 3em;
}

.iconContainer button {
  height: 60px;
  width: 60px;
  background-color: var(--yellow);
  margin: 1em;
  border-radius: 50%;
  border: 5px solid var(--yellow);
}

@media only screen and (max-width: 740px) {
  .iconContainer button {
    height: 50px;
    width: 50px;
    margin: 0.3em;
  }
}
