.container {
  background-color: var(--light-grey);
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0 1em;
}

.container p {
  color: var(--grey);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
