.containerAccount {
  margin: 1em auto;
  background-color: var(--white);
  border-radius: 1em;
  height: 35em;
  max-width: 45em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.containerForm {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.containerForm h3 {
  text-align: center;
}

.formLogin {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.containerButton {
  height: 100%;
  width: 50%;
  background-color: var(--light-grey);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
}
