.container {
  color: var(--grey);
  margin: 0 2em 0.5em 0;
}

.container input[type="text"] {
  height: 1.8em;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 1em;
  margin: 0;
  padding: 0 0 0 15px;
  width: 100%;
  outline: none;
  color: var(--grey);
}

label {
  font-size: 0.8em;
  display: block;
  margin-bottom: 3px;
}

.message {
  display: inline-block;
  height: 2em;
}

.message span {
  display: inline-block;
  height: 100%;
  font-size: 0.8em;
}

input.error {
  border: 1px solid var(--deep-pink);
}

.container input[type="text"]:focus {
  border: 1px solid var(--yellow);
  box-shadow: none;
}

.message span.error {
  color: var(--deep-pink);
}

.message span.success {
  color: var(--green);
}
